@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: var(--color-white);
}

html {
  font-size: 62.5%;
}

:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-l-grey: hsl(217, 12%, 63%);
  --color-m-grey: hsl(216, 12%, 54%);
  --color-d-blue: hsl(213, 19%, 18%);
  --color-vd-blue: hsl(216, 12%, 8%);
}

body {
  max-width: 144rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-vd-blue);
}

.card {
  width: 35rem;
  border-radius: 30px;
  padding: 4rem 3rem;
  background-color: var(--color-d-blue);
  position: relative;
  overflow: hidden;
}
.card__showed {
  transition: transform 1s;
}
.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}
.card__star {
  width: 1.5rem;
}
.card__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.card__description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-l-grey);
  margin-bottom: 2rem;
}

.card__ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.card__btn {
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.card__btn:hover {
  background: var(--color-m-grey);
  color: rgba(255, 255, 255);
}
.card__btn.checked {
  color: var(--color-white);
  background: var(--color-orange);
}
.card__submit {
  cursor: pointer;
  border: none;
  background: var(--color-orange);
  width: 100%;
  padding: 1rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.card__submit:hover {
  background: #fff;
  color: var(--color-orange);
}

.card__hidden {
  padding: 3rem;
  text-align: center;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 1s;
}
.card__img {
  margin-bottom: 2rem;
}
.card__rated {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--color-orange);
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  margin-bottom: 4rem;
}
